body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

h1, h2 {
    color: #9e9905;
}

img {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 15px;
}
